<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="U-XA-Compatible" content="ie=edge">
        {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/vendor/bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/vendor/font-awesome.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/vendor/aos.css') }}">
			<link rel="stylesheet" href="{{ asset('css/vendor/style.css') }}">
			<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		{% endblock %}
	</head>
	<body>
        {% include "partials/header.html.twig" %}

        {% block body %}{% endblock %}

        {% include "partials/footer.html.twig" %}
        
		{% block javascripts %}
			<script src="{{ asset('js/vendor/jquery-3.3.1.min.js') }}"></script>
			<script src="{{ asset('js/vendor/aos.js') }}"></script>
			<script src="{{ asset('js/main.js') }}"></script>
		{% endblock %}
	</body>
</html>
